.dropdown {
  border-radius: 2px;
  border: 1px solid #d7d7d7;
  background: #fff;
  width: 100%;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 19px;
  cursor: pointer;
}

.title {
  color: #41456b;
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 500;
  line-height: 159%;
}

.bottom {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.4s;
  padding: 0px 20px;
  &.active {
    max-height: 500px;
    opacity: 1;
    overflow: visible;
    padding-bottom: 10px;
  }
}

.body {
  display: flex;
  flex-direction: column;
  transition: all 0.4s;
  position: relative;
  &.active {
  }
}
